/* style.css */
body {
    background-color: #4b333352;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.sidebar {
    height: 100vh;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #16557f;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.sidebar .logo img {
    width: 120px;
    height: auto;
    margin-bottom: 30px; /* Tambah jarak bawah logo */
}

.menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px; /* Tambah jarak antar menu */
}

.sidebar a {
    width: 100%;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: flex;
    align-items: center;
    gap: 12px;
}

.sidebar a:hover {
    background-color: #2980b9;
}

/* Tombol Logout */
.logout-btn {
    margin-top: auto;
    width: 80%;
    padding: 12px;
    background-color: red;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.logout-btn:hover {
    background-color: darkred;
}


.main-content {
    margin-left: 250px;
    padding: 20px;
}

.no-sidebar {
    margin-left: 0;
}

.card {
    margin-bottom: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-header {
    background-color: #007acc;
    color: white;
    padding: 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card-body {
    padding: 15px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table th, .table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}

.table-bordered {
    border: 1px solid #ddd;
}

.table-bordered th, .table-bordered td {
    border: 1px solid #ddd;
}

.btn-primary {
    background-color: #3498db;
    border-color: #3498db;
    color: white;
}

.btn-primary:hover {
    background-color: #2980b9;
    border-color: #2980b9;
}

.chart-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}